#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export USE_STATIC_LIBRARIES=0

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

include /usr/share/dpkg/pkg-info.mk
export LIBCOMMON_REVISION=$(DEB_VERSION_UPSTREAM)

ifndef THREADS_COUNT
    THREADS_COUNT=`grep -c ^processor /proc/cpuinfo`
endif

BUILD_TARGETS=clickhouse clickhouse-client clickhouse-server clickhouse-compressor

%:
	dh $@ --parallel --max-parallel=4 --buildsystem=cmake

override_dh_auto_configure:

override_dh_auto_test:
	./debian/tests_wrapper.sh

override_dh_auto_build:
	# Remove some embedded libs since we use system ones
	# quilt patch doesn't work here becasue of some zip files in directory tree
	rm -rf contrib/libboost
	rm -rf contrib/libpoco
	rm -rf contrib/libtcmalloc
	rm -rf contrib/libdouble-conversion
	rm -rf contrib/liblz4
	rm -rf contrib/libsparsehash
	rm -rf contrib/libzookeeper
	rm -rf contrib/libzstd
	dh_testdir
	# for building Debug run: debuild -e CMAKE_BUILD_TYPE=Debug
	# for building with shared libs run: debuild -e USE_STATIC_LIBRARIES=0
	mkdir -p build && cd build && cmake .. -DUSE_INTERNAL_BOOST_LIBRARY=0 -DUSE_INTERNAL_GPERFTOOLS_LIBRARY=0 -DUSE_INTERNAL_POCO_LIBRARY=0 -DUSE_STATIC_LIBRARIES=0
	# TODO: возможно надо исправить
	# последовательно запускаем make для каждой из целей.
	# т.к. при параллельном запуске (make target1 target2) несколько раз одновременно создаются бинарники
	# и возникает raise с custom_command, использующие эти бинарники
	for target in ${BUILD_TARGETS}; \
	do \
		$(MAKE) -j$(THREADS_COUNT) -C build $$target; \
	done
	touch $@

override_dh_auto_clean:
	dh_testdir
	dh_testroot
	rm -rf build
	rm -rf obj-x86_64-linux-gnu
	rm -f override_dh_auto_build
	# Delete stdout & stderr files from tests
	rm -f dbms/tests/queries/0_stateless/*.std*
	rm -f debian/*-preprocessed.xml
	# Proceed legacy clean
	dh_clean

override_dh_auto_install:
	# Can't use dh_auto_install for now
	# build libboost test suite which fails
	# will wait for the ability to use system libs instead of contrib ones
	#dh_auto_install
	cd build && \
	for target in ${BUILD_TARGETS}; \
	do \
		DESTDIR=../debian/tmp cmake -DCOMPONENT=$$target -P cmake_install.cmake; \
	done
	# В случае сборки clickhouse-server, добавим в пакет бинарник clang-а, ld и заголовочные файлы - для динамической компиляции.
	mkdir -p debian/tmp/usr/share/clickhouse/bin debian/tmp/usr/share/clickhouse/headers;
	./copy_headers.sh . debian/tmp/usr/share/clickhouse/headers;
	dh_install --sourcedir=debian/tmp
	# Remove upstream init script
	rm -f debian/tmp/etc/init.d/clickhouse-server
	# Create data & log directories
	# Should be done by dh_auto_install but fails (see above)
	mkdir -p debian/tmp/var/lib/clickhouse
	mkdir -p debian/tmp/var/log/clickhouse
	# Update upstream config file with Debian paths
	sed -i 's/<path>.*<\/path>/<path>\/var\/lib\/clickhouse<\/path>/' debian/tmp/etc/clickhouse-server/config.xml
	sed -i 's/<tmp_path>.*<\/tmp_path>/<tmp_path>\/var\/lib\/clickhouse\/tmp<\/tmp_path>/' debian/tmp/etc/clickhouse-server/config.xml
	sed -i 's/<log>.*<\/log>/<log>\/var\/log\/clickhouse\/clickhouse-server.log<\/log>/' debian/tmp/etc/clickhouse-server/config.xml
	sed -i 's/<errorlog>.*<\/errorlog>/<errorlog>\/var\/log\/clickhouse\/clickhouse-server.err<\/errorlog>/' debian/tmp/etc/clickhouse-server/config.xml
